@model IEnumerable<CadeMeuMedico.Models.Medico>

    @{
        ViewBag.Title = "FromEspecialidade";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="container">
        <div class="row">
            <h2>Médicos:</h2>
        </div>

        <div class="row">
            <ul class="list-group">
                @foreach (var item in Model)
                {
                    <li class="list-group-item">
                        @Html.ActionLink(item.Nome, "Details", "Medico", new { id = item.IDMedico }, null)
                    </li>
                }
            </ul>
        </div>
    </div>